<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Xpresser URL Shortener</title>
</head>
<body class="bg-gray-200">
<div class="mx-auto bg-white mt-10 rounded max-w-xl p-3">
    <h2 class="text-2xl text-gray-700">Abolish Plugin Test</h2>
    <hr/>

    <form action="/" method="POST" class="mt-5 space-y-4">
        <label class="block">Email:
            <input name="email" type="text" class="p-2 border rounded border-gray-300" value="test@gmail.com">
        </label>

        <label class="block">Username:
            <input name="username" type="text" class="p-2 border rounded border-gray-300" value="test@gmail.com">
        </label>

        <button type="submit" class="py-2 px-3 bg-blue-500 text-white rounded">LOGIN</button>
    </form>

</div>
</body>
</html>